// Variables
$frankincense: #46433E;
$rose: #D4968C;

// Imports

@font-face {
  font-family: "Diamond Dust";
  src: url('components/srep/fonts/diamond_dust.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Dalliance";
  src: url('components/srep/fonts/dalliance.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

// HTML Elements

body {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

// Bootstrap

.dropdown-menu {
  position: absolute;
  border-radius: 0px !important;
  border: 3px double $frankincense;
  background: #202020;
  @media (min-width: 992px) {
    top: 60px;
  }
  .dropdown-item {
    color: rgba(255,255,255,.7);
      &:hover {
        color: white;
        background: #141414;
      }
  }
}

.jumbotron {
  background: rgba(0,0,0,0);
  // border: 1px solid black;
  // background: url('./components/srep/images/bkgd-fall.png');
}
.search-options {
  color: white;
  &:hover {
    color: white;
  }
  &:visited {
    color: white;
  }
}
.search-options.active {
  color: white;
  border-bottom: 4px solid $rose;
  background: #202020 !important;
}
.search-options:not(.disabled):hover {
  border-bottom: 4px solid $rose;
  background: #202020 !important;
}
nav.navbar {
  // background: url('./components/srep/images/bkgd-pattern.png');
  background: rgba(23, 20, 17, 0.87);
  .navbar-brand {
    font-family: 'Dalliance';
    font-size: 2em;
  }
}

.nav-pills {
  .nav-link {
    border-radius: 0;
    background: rgba(23, 20, 17, 0.7);
  }
}

// User-Defined

.hero {
  background: url('./components/srep/images/bkgd-fall.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.banner {
  background: white;
  color: #202020;
  height: 60px;
}

.heading {
  font-family: 'Diamond Dust';
  @media (max-width: 359px) {
    font-size: 7.5em;
  }
  @media (min-width: 360px) {
    font-size: 8em;
  }
  @media (min-width: 576px) {
    font-size: 10em;
  }
  @media (min-width: 768px) {
    font-size: 14em;
  }
  @media (min-width: 992px) {
    font-size: 18em;
  }
}

.subheading {
  font-family: 'oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
}

.search-form {
  background: rgba(39, 34, 28, .9);
  border-radius: 4px;
  color: white;
}

#search-box {
  font-size: 1.25em;
  @media (min-width: 992px) {
    font-size: 1.5em;
  }
}

.trending-now-container {
  background: url('./components/srep/images/wood-leaf.png');
  background-position: center center;
  height: 400px;
}
.new-builds-container {
  background: lighten($frankincense, 10%);
  min-height: 300px;
  color: white;
  .card {
    background: $frankincense;
  }
}
.find-your-neighborhood-container {
  background: lighten($frankincense, 20%);
  min-height: 300px;
  color: white;
  .card {
    background: $frankincense;
  }
}

.search-neighborhood-label {
  font-size: 1.25em;
}


.footer-container {
  background: lighten($frankincense, 30%);
  min-height: 300px;
  color: white;
  font-family: 'Raleway';
  border-bottom: 26px solid $frankincense;
}



// jQuery UI

#slider {
  margin: 10px;
}
.ui-slider-range {
  background: dodgerblue;
}