// Variables
$frankincense: #46433E;
$rose: #D4968C;

// Imports

@font-face {
  font-family: "Diamond Dust";
  src: url('components/srep/fonts/diamond_dust.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Dalliance";
  src: url('components/srep/fonts/dalliance.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Money Penny Script";
  src: url('components/srep/fonts/moneypenny-script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Money Penny Sans";
  src: url('components/srep/fonts/moneypenny-sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// HTML Elements

body {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
p {
  text-indent: 30px;
}
li {
  list-style-type: none;
}

// Bootstrap

.dropdown-menu {
  position: absolute;
  border-radius: 0px !important;
  border: 3px double $frankincense;
  background: #202020;
  @media (min-width: 992px) {
    top: 60px;
  }
  .dropdown-item {
    color: rgba(255,255,255,.7);
      &:hover {
        color: white;
        background: #141414;
      }
  }
}

.jumbotron {
  background: rgba(0,0,0,0);
  // border: 1px solid black;
  // background: url('./components/srep/images/bkgd-fall.png');
}
.search-options {
  color: white;
  &:hover {
    color: white;
  }
  &:visited {
    color: white;
  }
}
.search-options.active {
  color: white;
  border-bottom: 4px solid $rose;
  background: rgba(23, 20, 17, 1) !important;
}
.search-options:not(.disabled):hover {
  border-bottom: 4px solid $rose;
  background: rgba(23, 20, 17, 1) !important;
}
nav.navbar {
  // background: url('./components/srep/images/bkgd-pattern.png');
  background: rgba(23, 20, 17, 0.87);
  .navbar-brand {
    font-family: 'Dalliance';
    font-size: 2em;
  }
}

.nav-pills {
  .nav-link {
    border-radius: 0;
    background: rgba(23, 20, 17, 0.7);
  }
}

// User-Defined

.hero {
  background: url('./components/srep/images/bkgd-fall.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.banner {
  background: white;
  color: #202020;
  height: 60px;
}

.heading {
  font-family: 'Money Penny Script';
  @media (max-width: 359px) {
    font-size: 5.6em;
  }
  @media (min-width: 360px) {
    font-size: 7em;
  }
  @media (min-width: 576px) {
    font-size: 11em;
  }
  @media (min-width: 768px) {
    font-size: 14em;
  }
  @media (min-width: 992px) {
    font-size: 18em;
  }
}

.subheading {
  font-family: 'Money Penny Sans', 'oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  @media (max-width: 359px) {
    font-size: 1em;
    margin-top: 20px;
  }
  @media (min-width: 360px) {
    font-size: 1.5em;
    margin-top: 25px;
  }
  @media (min-width: 576px) {
    font-size: 2em;
    margin-top: 40px;
  }
  @media (min-width: 768px) {
    font-size: 3em;
  }
  @media (min-width: 992px) {
    font-size: 3em;
    margin-left: 140px;
  }
}

.search-form {
  background: rgba(39, 34, 28, .99);
  border-radius: 4px;
  color: white;
}

#search-box {
  font-size: 1.25em;
  @media (max-width: 359px) {
    font-size: .75em;
  }
  @media (min-width: 992px) {
    font-size: 1.5em;
  }
}


.news-and-trends-container {
  background: url('./components/srep/images/wood-leaf.png');
  background-position: center center;
  min-height: 57vh;
}
#news-and-trends-row {
  background: rgba(23, 20, 17, 0.7);
}


.find-your-neighborhood-container {
  background: url('./components/srep/images/neighborhood.jpeg');
  background-position: center center;
  min-height: 43vh;
  color: white;
  @media (max-width: 359px) {
    h1 {
      font-size: 2em;
    }
  }
  .card {
    background: $frankincense;
  }
}

.search-neighborhood-label {
  font-size: 1.25em;
}
#search-local-input-element {
  @media (max-width: 359px) {
    font-size: .75em;
  }
}


.footer-container {
  background: #FFFFFF;
  min-height: 250px;
  color: #141414;
  font-family: 'Raleway';
  border-bottom: 10px solid $frankincense;
}



// jQuery UI

#slider {
  padding: 0;
  margin: 0;
}
.ui-slider-range {
  background: dodgerblue;
}